.loader-line {
    display: block;

    width: 100vw;
    height: 5px;
    position: fixed;
    overflow: hidden;
    border-radius: 20px;
    z-index: 5;

    &:before {
        content: "";
        position: absolute;
        left: -50%;
        height: 5px;
        width: 40%;
        background-color: var(--blue-800);
        animation: lineAnim 1s linear infinite;
        border-radius: 20px;
    }
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }

    50% {
        left: 20%;
        width: 80%;
    }

    100% {
        left: 100%;
        width: 100%;
    }
}